.btnPrint {
    margin: 10px;
    background: #007bff;
    padding: 5px;
}

table.dataTable thead .sorting_asc:after {
    content: "";
}

table.dataTable thead .sorting_desc:after {
    content: "";



}
table.dataTable thead .sorting:after {
    opacity: .2;
    content: "";
}

.nav-sidebar .nav-link:hover {
    padding-left: 10px;
}
